nav {
    padding-left: 20px;
    padding-right: 20px;
}

#user-form, #session-form {

	padding-bottom: 150px;
}

#category-combo {
	padding-top: 15px;
}

.card {

	margin-bottom: 50px;
}

#cards-content > p {
	padding-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

#card-info > h5, p {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
}



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}
    
#review-form-rating, #review-form-button, #comment-form-button {
	margin-top: 50px;
}

#review-card {
  background-color: #e0e0e0;

}

#edit-button {
  background-color: teal;
}