nav {
    padding-left: 20px;
    padding-right: 20px;
}

#user-form, #session-form {

	padding-bottom: 150px;
}

#category-combo {
	padding-top: 15px;
}

.card {

	margin-bottom: 50px;
}

.card-content > p {
	padding-bottom: 80px;
}